.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Прозрачный фон */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 50%;
    height: 50%;
}

.modal-content button {
    margin-top: 10px;
}

.react-select__control {
    border-radius: 32px!important;
    background: none!important;
}

.modal-buttons {
    display: flex;
    position: absolute;
    bottom: 16px;
    gap: 8px;
    justify-content: right;
    width: 87%;
}
